/* General-scss */

@import "./vendor/_rfs.scss";

@import "./variable.scss";

@import "./typography.scss";

/* block-scss */

@import "./block-scss/header.scss";

@import "./block-scss/section-hero.scss";

/* font-family */

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap";

html {
    font-size: 100%;
}

body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

img{
    max-width: 100%;
}

.ml-auto{
    margin-left: auto;
}
