/* General-scss */
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap";
h1 {
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 2.25rem;
  }
}

h5 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h5 {
    font-size: 2rem;
  }
}

h6 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h6 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.125rem;
}

.content ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.content ul li {
  font-size: calc(1.2625rem + 0.15vw);
  padding-left: 1rem;
  position: relative;
}
@media (min-width: 1200px) {
  .content ul li {
    font-size: 1.375rem;
  }
}
.content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  height: 8px;
  width: 8px;
  background-color: #080A0D;
  border-radius: 8px;
}

/* block-scss */
.site-header .container {
  max-width: 1720px;
}
.site-header .top-bar {
  padding: 0.625rem 0;
  background-color: #D51815;
  text-align: right;
}
.site-header .top-bar a {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25rem;
  color: #ffffff;
}
.site-header .main-header {
  padding: calc(1.2875rem + 0.45vw) 0;
  border-bottom: 1px solid #D2D2D2;
}
@media (min-width: 1200px) {
  .site-header .main-header {
    padding: 1.625rem 0;
  }
}
.site-header .main-header .header-wrap {
  display: flex;
}
.site-header .main-header .header-wrap .navbar ul {
  display: flex;
  align-items: center;
}
.site-header .main-header .header-wrap .navbar ul li {
  position: relative;
  padding: 0.813rem calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .site-header .main-header .header-wrap .navbar ul li {
    padding: 0.813rem 2.5rem;
  }
}
.site-header .main-header .header-wrap .navbar ul li a {
  color: #080A0D;
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 1.125rem;
}
.site-header .main-header .header-wrap .navbar ul li a:hover {
  color: #D51815;
}
.site-header .main-header .header-wrap .navbar ul li::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 1.25rem;
  top: 30%;
  left: 0;
  background-color: #D51815;
}
.site-header .main-header .header-wrap .navbar ul li:hover:before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translatex(-50%);
  background-color: #D51815;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
}
.site-header .main-header .header-wrap .navbar ul .menu-item-has-children .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 5.313rem;
  background: #FFFFFF;
  padding: calc(1.3rem + 0.6vw) 0.875rem;
  border-radius: 4px;
  min-width: 17.875rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  display: block !important;
  z-index: 1;
}
@media (min-width: 1200px) {
  .site-header .main-header .header-wrap .navbar ul .menu-item-has-children .sub-menu {
    padding: 1.75rem 0.875rem;
  }
}
.site-header .main-header .header-wrap .navbar ul .menu-item-has-children .sub-menu li {
  padding: 0;
}
.site-header .main-header .header-wrap .navbar ul .menu-item-has-children .sub-menu li::after {
  display: none;
}
.site-header .main-header .header-wrap .navbar ul .menu-item-has-children .sub-menu li a {
  display: block;
  padding: 0.563rem 0.375rem;
  border-bottom: 1px solid #F1F1F1;
}
.site-header .main-header .header-wrap .navbar ul .menu-item-has-children .sub-menu li a img {
  padding-right: 0.5rem;
}
.site-header .main-header .header-wrap .navbar ul .menu-item-has-children .sub-menu li:hover::before {
  display: none;
}
.site-header .main-header .header-wrap .navbar ul .menu-item-has-children:hover .sub-menu {
  display: block;
  transform-origin: 0 0;
  transform: scaleY(1) !important;
}
.site-header .main-header .header-wrap .navbar ul li:first-of-type::after {
  display: none;
}
.site-header .main-header .header-wrap .navbar .btn-red {
  padding: 1rem calc(1.5375rem + 3.45vw);
  font-weight: 600;
  font-weight: 700;
  line-height: 1.125rem;
  background-color: #D51815;
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .site-header .main-header .header-wrap .navbar .btn-red {
    padding: 1rem 4.125rem;
  }
}
.site-header .main-header .header-wrap .navbar .btn-red:hover {
  background-color: #080A0D;
}

.section--hero {
  padding: calc(1.9688rem + 8.6256vw) 0 calc(1.8rem + 6.6vw);
  background: url(/assests/images/hero-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px) {
  .section--hero {
    padding: 8.438rem 0 6.75rem;
  }
}
.section--hero .hero-text {
  text-align: center;
}
.section--hero .hero-text .f-span {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1.125rem;
}
.section--hero .hero-text h1 {
  line-height: 4.875rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-bottom: calc(1.3625rem + 1.35vw);
  margin-bottom: calc(1.55rem + 3.6vw);
}
@media (min-width: 1200px) {
  .section--hero .hero-text h1 {
    padding-bottom: 2.375rem;
  }
}
@media (min-width: 1200px) {
  .section--hero .hero-text h1 {
    margin-bottom: 4.25rem;
  }
}
.section--hero .hero-text h1 span {
  color: #D51815;
  font-size: inherit;
}
.section--hero .hero-text h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  background-color: #D51815;
  width: 13.75rem;
  height: 0.375rem;
}
.section--hero .hero-text .hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section--hero .hero-text .hero-content .box {
  padding: calc(1.2875rem + 0.45vw);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #FFFFFF;
  border-left: 3px solid #D51815;
  width: 7.813rem;
  position: relative;
}
@media (min-width: 1200px) {
  .section--hero .hero-text .hero-content .box {
    padding: 1.625rem;
  }
}
.section--hero .hero-text .hero-content .box span {
  display: block;
  font-size: 0.75rem;
  line-height: 0.938rem;
  font-weight: 900;
  color: #080A0D;
}
.section--hero .hero-text .hero-content .box + .box {
  margin-left: calc(1.4813rem + 2.7756vw);
}
@media (min-width: 1200px) {
  .section--hero .hero-text .hero-content .box + .box {
    margin-left: 3.563rem;
  }
}
.section--hero .hero-text .hero-content .box + .box::after {
  content: "";
  position: absolute;
  right: 7.5rem;
  top: 50%;
  height: 0.188rem;
  width: 4.375rem;
  background-color: #D51815;
  z-index: -1;
}

/* font-family */
html {
  font-size: 100%;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

img {
  max-width: 100%;
}

.ml-auto {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */