h1 {
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 2.25rem;
  }
}

h5 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h5 {
    font-size: 2rem;
  }
}

h6 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h6 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.125rem;
}

.content ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.content ul li {
  font-size: calc(1.2625rem + 0.15vw);
  padding-left: 1rem;
  position: relative;
}
@media (min-width: 1200px) {
  .content ul li {
    font-size: 1.375rem;
  }
}
.content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  height: 8px;
  width: 8px;
  background-color: #080A0D;
  border-radius: 8px;
}/*# sourceMappingURL=typography.css.map */