@import "./vendor/rfs";
@import "./variable.scss";

h1{
    @include font-size(4rem);
}

h2{
    @include font-size(3rem);
}

h3{
    @include font-size(2.5rem);
}

h4{
    @include font-size(2.25rem);
}

h5{
    @include font-size(2rem);
}

h6{
    @include font-size(1.5rem);
}

p{
    @include font-size(1.125rem);
}

.content{
    ul {
        list-style: none;
        @include margin-left(0);
        @include margin-right(0);
        @include padding-left(0);
        @include padding-right(0);

        li {
            @include font-size(1.375rem);
            @include padding-left(1rem);
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 15px;
                height: 8px;
                width: 8px;
                background-color: $black;
                border-radius: 8px;
            }
        }
    }
}