.site-header {
    .container{
        max-width: 1720px;
    }
    .top-bar {
        padding: 0.625rem 0;
        background-color: $red;
        text-align: right;
        a {
            @include font-size(1rem);
            font-weight: 800;
            line-height: 1.25rem;
            color: #ffffff;
        }
    }
    .main-header{
        @include padding(1.625rem 0);
        border-bottom: 1px solid #D2D2D2;
        .header-wrap{
            display: flex;
            .navbar{
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        position: relative;
                        @include padding(0.813rem 2.5rem);
                        a{
                            color: $black;
                            @include font-size(0.938rem);
                            font-weight: 700;
                            line-height: 1.125rem;
                            &:hover{
                                color: $red;
                            }
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 0.25rem;
                            height: 1.25rem;
                            top: 30%;
                            left: 0;
                            background-color: $red;
                        }
                        &:hover{
                            &:before{
                                content: "";
                                position: absolute;
                                bottom: -0.5rem;
                                left: 50%;
                                transform: translatex(-50%);
                                background-color: $red;
                                height: 0.625rem;
                                width: 0.625rem;
                                border-radius: 50%;
                            }
                        }
                    }
                    .menu-item-has-children{
                        .sub-menu{
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 5.313rem;
                            background: #FFFFFF;
                            @include padding(1.75rem 0.875rem);
                            border-radius: 4px;
                            min-width: 17.875rem;
                            box-shadow: 0px 4px 4px 0px #00000040;
                            transform: scaleY(0);
                            transform-origin: top;
                            transition: 0.3s;
                            display: block !important;
                            z-index: 1;
                            li{
                                padding: 0;
                                &::after{
                                    display: none;
                                }
                                a{
                                    display: block;
                                    @include padding(0.563rem 0.375rem);
                                    border-bottom: 1px solid #F1F1F1;
                                    img{
                                        @include padding-right(0.5rem);
                                    }
                                }
                                &:hover{
                                    &::before{
                                        display: none;
                                    }
                                }
                            }
                        }
                        &:hover .sub-menu{
                            display: block;
                            transform-origin: 0 0;
                            transform: scaleY(1) !important;
                        }
                    }
                    // li+li{
                    //     @include margin-left(3.125rem);
                    // }
                    li:first-of-type{
                        &::after{
                            display: none
                        }
                    }
                }
                .btn-red{
                    @include padding(1rem 4.125rem);
                    font-weight: 600;
                    font-weight: 700;
                    line-height: 1.125rem;
                    background-color: $red;
                    color: #FFFFFF;
                    &:hover{
                        background-color:  $black;
                    }
                }
            }
        }
    }
}
