.site-header .top-bar {
  padding: 0.625rem 0;
  background-color: #D51815;
  text-align: right;
}
.site-header .top-bar a {
  font-weight: 800;
  line-height: 1.25rem;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=header.css.map */