.section--hero{
    @include padding(8.438rem 0 6.75rem);
    background: url(/assests/images/hero-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    .hero-text{
        text-align: center;
        .f-span{
            display: inline-block;
            @include  font-size(1rem);
            line-height: 1.25rem;
            font-weight: 700;
            color: #000000;
            @include margin-bottom(1.125rem);
        }
        h1{
            line-height: 4.875rem;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            @include padding-bottom(2.375rem);
            @include margin-bottom(4.25rem);
            span{
                color: $red;
                font-size: inherit;
            }
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translatex(-50%);
                background-color: $red;
                width: 13.75rem;
                height: 0.375rem;
            }
        }
        .hero-content{
            display: flex;
            align-items: center;
            justify-content: center;
            .box{
                @include padding(1.625rem);
                box-shadow: 0px 4px 4px 0px #00000040;
                background: #FFFFFF;
                border-left: 3px solid $red;
                width: 7.813rem;
                position: relative;
                span{
                    display: block;
                    @include font-size(0.75rem);
                    line-height : 0.938rem;
                    font-weight: 900;
                    color: $black;
                }
            }
            .box + .box{
                @include margin-left(3.563rem);
                &::after{
                    content: "";
                    position: absolute;
                    right: 7.5rem;
                    top: 50%;
                    height: 0.188rem;
                    width: 4.375rem;
                    background-color: $red;
                    z-index: -1;
                }
            }
        }
        // .hero-box{
        //     @include 
        // }
    }
}